<div class="container mt-5">
  <h2 class="mb-4 text-white">Create a Circus Contribution.</h2>
  <form class="new-circus-post-form">
    <div class="mb-3">
      <label for="title-new-circus-post" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title-new-circus-post" placeholder="Enter a title of your choice" />
    </div>
    <div class="mb-3">
      <label for="content-new-circus-post" class="form-label">Content:</label>
      <textarea class="form-control" id="content-new-circus-post" rows="5" placeholder="Enter content here"></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Add New Post</button>
    </div>
  </form>
</div>

